<h1>Directors</h1>

<% @directors.each do |director| %>
  <h3><%= director.name %></h3>
  <%= link_to "Edit #{director.name}", "/directors/#{director.id}/edit" %>
  <p>Created at: <%= director.created_at %></p>
<% end %>

<%= link_to "Add Directors", "/directors/new" %>
