<h1>Disc Producers</h1>
<div id= 'producer_list'>
  <% @producers.each do |producer| %>
    <h3><%= producer.name %></h3>
    <p><%= producer.created_at %></p>
    <%= link_to "Edit #{producer.name} Info", "/producers/#{producer.id}/edit" %>
    <%= link_to "Delete #{producer.name}", "/producers/#{producer.id}", method: :delete %>
  <% end %>
</div>
<a href="/producers/new"> New Producer</a>
